@charset "UTF-8";

body {
    background-color: dodgerblue;
    font-family: calibri;
    font-size: 20px
}
h1 {
    color: darkblue;
    background-color: rgb(81, 152, 240);
}
h2 {
    color: rgb(4, 49, 185);
    background-color: rgba(43, 127, 231, 0.884);
}
h3 {
    color: rgb(50, 113, 240);
    background-color: rgb(17, 89, 161);
}
p {
    text-align: justify;
}